.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  height: 100%;
  background-color: $white-color;

  &__img {
    position: relative;
    overflow: hidden;

    img {
      vertical-align: middle;
      border-radius: 7px 7px 0 0;
      width: 100%;
      height: 200px;
    }
  }

  &__stock {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 2px 5px 3px 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: $green-color;
    background: url("../img/check-icon-green.svg") left 6px center / 11px no-repeat;
    background-color: #dbf8d8;

    &--no {
      color: $white-color;
      background-image: url("../img/cross-icon.svg");
      background-size: 10px;
      background-color: #b9b9b9;
    }
  }

  &__banner {
    position: absolute;
    left: -76px;
    top: 16px;
    display: inline-block;
    padding: 2px;
    width: 200px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    background-color: #1763e1;
    transform: rotate(-45deg);

    &--red {
      background-color: $primary-color;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $grey-color;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px 17px 20px;
  }

  &__price {
    margin-right: 10px;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    @include mr(10px);

    display: inline-block;
    border: 1px solid #d9d5d5;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: background-color $transition;
    cursor: pointer;

    @include hover {
      background-color: #ebffe9;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    &__content {
      padding: 20px 14px;
    }

    &__price {
      font-size: 20px;
    }
  }
}
