.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  height: 100%;
  background-color: $white-color;

  &__img {
    position: relative;
    overflow: hidden;

    img {
      vertical-align: middle;
      border-radius: 7px 7px 0 0;
      width: 100%;
      height: 200px;
    }
  }

  &__stock {
    position: relative;
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 2px 5px 3px 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: $green-color;
    background: url("../img/check-icon-green.svg") left 6px center / 11px no-repeat;
    background-color: #dbf8d8;

    &:not(.product-card__stock--no) > span {
      border-bottom: 1px dashed #82cf79;
      cursor: pointer;
    }

    &--no {
      color: $white-color;
      background-image: url("../img/cross-icon.svg");
      background-size: 10px;
      background-color: #b9b9b9;
    }

    @include hover {
      .product-card__modal {
        display: block;
      }
    }
  }

  &__modal {
    position: absolute;
    left: -10px;
    top: 100%;
    z-index: 8;
    display: none;
    padding-top: 5px;
    font-weight: 400;

    > ul {
      position: relative;
      border: 1px solid #e1e1e1;
      border-radius: 7px;
      padding: 10px 20px;
      width: 260px;
      color: $black-color;
      background-color: $white-color;
      filter: drop-shadow(0 10px 20px rgba(21, 25, 37, 15%));

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -9px;
        width: 18px;
        height: 10px;
        background: url("../img/city-triangle.svg") center no-repeat;
        transform: translateX(-50%);
      }
    }

    &-item {
      position: relative;
      border-bottom: 1px solid #e3e3e3;
      padding: 10px 20px 10px 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 15px;
        height: 15px;
        background: url("../img/check-icon-green.svg") center / 14px  no-repeat;
      }

      span {
        font-size: 13px;
        color: #a8a5a5;
      }

      &:last-child {
        border: none;
      }

      &--no {
        &::after {
          background-image: url("../img/cross-icon-grey.svg");
          background-size: 11px;
        }
      }
    }
  }

  &__banner {
    position: absolute;
    left: -76px;
    top: 16px;
    display: inline-block;
    padding: 2px;
    width: 200px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    background-color: #1763e1;
    transform: rotate(-45deg);

    &--red {
      background-color: $primary-color;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $grey-color;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px 17px 20px;
  }

  &__price {
    margin-right: 10px;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
  }

  &__prices {
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
  }

  &__price-old {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      transform: translateY(-50%);
    }
  }

  &__price-new {
    font-size: 20px;
    color: $primary-color;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    @include mr(10px);

    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: $bg-color;
    transition: border-color $transition;
    cursor: pointer;

    &:not(:disabled) {
      @include hover {
        border-color: $green-color;

        &.icon-wishlist {
          border-color: $primary-color;
        }
      }
    }

    &.is-active {
      background: url("../img/check-icon-white.svg") center / 22px no-repeat;
      background-color: $green-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    &__stock {
      &.is-active {
        .product-card__modal {
          display: block;
        }
      }
    }

    &__content {
      padding: 20px 14px;
    }

    &__price {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 575px) {
  .product-card {
    &__stock {
      span {
        font-size: 0;

        &::before {
          content: attr(data-text);
          font-size: 13px;
        }
      }
    }

    &__footer {
      flex-direction: column;
      align-items: stretch;
    }

    &__icons {
      justify-content: space-between;
    }

    &__prices,
    &__price {
      margin-bottom: 12px;
    }
  }
}
