<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="footer__main-inner">
        <div class="footer__col">
          <ul class="footer__list">
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Акции и скидки </a></li>
            <li><a href="#">О магазине</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Гарантия и возврат </a></li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li><a href="#">Подарочные сертификаты</a></li>
            <li><a href="#">Новости и события</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
          <div class="footer__payments">
            <p>Мы принимаем</p>
            <ul>
              <li><img src="img/mir-logo.svg" alt="Логотип МИР"></li>
              <li><img src="img/visa-logo.svg" alt="Логотип Visa"></li>
              <li><img src="img/mastercard-logo.svg" alt="Логотип Mastercard"></li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__title">Подписка на рассылку</div>
          <form class="footer__form" action="#">
            <div class="footer__form-field">
              <input class="footer__input form-input" type="email" placeholder="Введите ваш email">
              <button class="footer__btn btn">Подписаться</button>
            </div>
            <p>Подписываясь на рассылку, я даю согласие на обработку персональных данных и на получение новостей и
              рекламных сообщений.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__col">
          <p>© 2015-2023  ОГРНИП 313253621300025</p>
        </div>
        <div class="footer__col"><a href="#" target="_blank">Политика конфиденциальности</a></div>
        <div class="footer__col">
          <p class="footer__caption"><a href="https://agent-fox.ru/" target="_blank">Разработка сайта <img
                src="img/agentfox-logo.svg" width="77" height="10" alt="agentfox logo"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
