.breadcrumbs {
  padding: 23px 0;
  font-size: 13px;
  color: $grey-color;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-shrink: 0;
    margin-right: 5px;

    a {
      position: relative;
      padding-right: 30px;

      &::before {
        content: "→";
        position: absolute;
        right: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        color: $grey-color;
        transform: translateY(-50%);
      }

      @include hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      a {
        padding-right: 0;
        color: $black-color;

        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    ul {
      flex-wrap: nowrap;
      overflow: auto;
      padding-bottom: 5px;
    }
  }
}
