.form-item {
  display: block;

  &__caption {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: $grey-color;

    > span {
      color: $primary-color;
    }
  }
}

.form-input {
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding: 15px 20px;
  width: 100%;
  font: inherit;
  line-height: 1.25;
  color: $black-color;
  background-color: $white-color;

  &::placeholder {
    color: $grey-color;
    opacity: 1;
  }
}

textarea.form-input {
  min-height: 100px;
  resize: none;
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &__box {
    position: relative;
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
    border: 1px solid $primary-color;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    background-color: $white-color;

    &::after {
      @include absolute-center;

      content: "";
      width: 100%;
      height: 100%;
      background: url("../img/check-icon-white.svg") center / 13px no-repeat;
      opacity: 0;
    }
  }

  &__text {
    font-size: 13px;
    color: $grey-color;
    user-select: none;

    a {
      text-decoration: underline;
    }
  }

  input {
    display: none;

    &:checked ~ .form-checkbox__box {
      background-color: $primary-color;

      &::after {
        opacity: 1;
      }
    }
  }
}

.form-select {
  display: block;
  cursor: pointer;

  select {
    @include flex-center;

    appearance: none;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    padding: 15px 40px 15px 20px;
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    color: $black-color;
    background: url("../img/chevron-down-icon.svg") right 18px center no-repeat;
    background-color: $white-color;
    cursor: pointer;

    &.is-placeholder {
      color: $grey-color;
    }
  }

  option {
    color: $black-color;
  }

  > span {
    display: block;
    font-size: 14px;
    color: $grey-color;
  }
}

.form-select-transparent {
  display: block;
  cursor: pointer;

  select {
    appearance: none;
    margin: -5px 0 -5px -20px;
    outline: transparent;
    border: none;
    padding: 5px 25px 5px 20px;
    font-family: inherit;
    font-size: 14px;
    color: $black-color;
    background: url("../img/chevron-down-icon.svg") right 0 center no-repeat;
    cursor: pointer;

    &.is-placeholder {
      color: $grey-color;
    }
  }

  option {
    color: $black-color;
  }
}
