.modal {
  $transition: opacity 0.3s ease-out;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: $black-color;
  background-color: rgba($black-color, 0.75);
  opacity: 0;
  transition: $transition;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: var(--window-height);
  }

  &__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border-radius: 7px;
    padding: 60px;
    width: 100%;
    height: auto;
    max-width: 760px;
    background-color: $white-color;

    &--sm {
      max-width: 560px;
    }
  }

  &__form-register {
    a {
      font-weight: 600;
      text-decoration: underline;

      @include hover {
        text-decoration: none;
      }
    }
  }

  &__form-caption {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #8e8b8b;

    @include hover {
      text-decoration: underline;
    }
  }

  &__socials {
    margin-top: 50px;
    text-align: center;

    p {
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      @include mr(15px);
    }

    a {
      @include hover {
        svg {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }

    svg {
      opacity: 0.35;
      filter: grayscale(1);
      transition: $transition;
    }
  }

  &__box {
    margin: 0 auto;
    max-width: 300px;

    .btn {
      max-width: 100%;
    }
  }

  &__text {
    margin-bottom: 20px;
    text-align: center;
  }

  &__form-item {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: $font-secondary;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;

    &--offset-sm {
      margin-bottom: 20px;
    }
  }

  &__table {
    table {
      width: 100%;
    }

    tr {
      border-bottom: 1px solid #d9d5d5;

      &:last-child {
        border-bottom: none;
      }
    }

    th,
    td {
      padding: 10px 0;
    }

    th {
      padding-right: 15px;
      text-align: left;
    }
  }

  &__street {
    font-size: 13px;
    color: #a8a5a5;
  }

  &__stock {
    padding-left: 30px;
    min-width: 130px;
    color: $green-color;
    background: url("../img/check-icon-green.svg") left 6px center / 14px no-repeat;

    &--no {
      color: $grey-color;
      background-image: url("../img/cross-icon-grey.svg");
      background-size: 11px;
    }
  }

  &__form-items {
    @include grid(2, 20px 40px);

    margin-bottom: 20px;
  }

  &__form-btn {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }

  &__form-textarea {
    grid-column: span 2;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: transparent;
    border: none;
    width: 20px;
    height: 20px;
    box-shadow: none;
    background: url("../img/close-icon.svg") center no-repeat;
    cursor: pointer;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &.is-open {
    opacity: 1;
  }
}

.modal-buy {
  &__name {
    margin-right: 40px;
    font-size: 16px;
  }

  &__counter {
    margin-right: 20px;
  }

  &__price {
    align-self: center;
    min-width: 80px;
    font-size: 16px;
    white-space: nowrap;
    text-align: right;
  }

  &__img {
    flex-shrink: 0;
    margin-right: 20px;

    img {
      vertical-align: middle;
      width: 40px;
    }

    &--lg {
      margin-right: 10px;

      img {
        width: 69px;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    &__inner {
      padding: 60px 30px 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    &__form-items {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .modal-buy {
    &__img {
      margin-right: 10px;

      &--lg img {
        width: 40px;
      }
    }

    &__head {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }

    &__name {
      margin-right: 0;
      margin-bottom: 15px;
      width: calc(100% - 50px);
    }
  }

  .modal {
    &__form-btn {
      max-width: 100%;
    }

    &__form-textarea {
      grid-column: span 1;
    }

    &__form-items {
      grid-template-columns: 1fr;
    }

    &__inner {
      padding: 60px 20px 30px;
    }
  }
}
