.burger-menu {
  position: fixed;
  right: 0;
  top: calc(var(--header-height) - 1px);
  bottom: 0;
  z-index: 40;
  display: none;
  overflow: auto;
  padding: 16px 16px 24px;
  width: 100%;
  max-width: 320px;
  background-color: $bg-color;
  opacity: 0;
  transform: translateX(100%);
  transition: transform $menu-transition, opacity $menu-transition;

  &.is-active {
    opacity: 1;
    transform: translateX(0);
  }
}
