<section class="error">
  <div class="container">
    <div class="error__inner">
      <h1 class="error__title title"> <span class="color-primary">Извините,</span> <br>
        Такой страницы <br>
        не существует</h1>
      <a class="error__btn btn" href="./">Перейти на главную</a>
    </div>
  </div>
</section>
