<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О магазине</a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="about-page">
          <h1 class="about-page__title title">О магазине</h1>
          <div class="about-page__content">
            <div class="about-page__box">
              <p>Auto Tuning Parts — название, говорящее за себя, — это компания, специализирующаяся на товарах для
                автоспорта и тюнинга большинства автомобилей как японского, так и европейского рынка.</p>
              <p>Молодая, но конкурентноспособная компания ATP находится на рынке с 2015 года. За это время мы
                открыли <b>4 магазина по всей России: в Москве, Владивостоке, Хабаровске и Благовещенске.</b></p>
              <p>ATP помогает автолюбителям обеспечивать тюнингом свое авто по доступным ценам, при этом сохраняя
                свое
                качество.</p>
              <div class="about-page__row">
                <ul class="check-list">
                  <li><a href="#">Магазины</a> в 4 городах</li>
                  <li>Большой ассортимент</li>
                  <li>Доступные цены</li>
                  <li>Два крупных склада во Владивостоке и Москве</li>
                </ul>
                <ul class="check-list">
                  <li>Система лояльности</li>
                  <li><a href="#">Подарочные сертификаты</a></li>
                  <li>Помощь в подборе комплектующих</li>
                  <li>Отправляем товары Транспортными компаниями по всей России.</li>
                </ul>
              </div>
              <h2 class="about-page__subtitle subtitle">Наши магазины в городах России</h2>
              <ul class="about-page__items">
                <li class="about-page__item">
                  <div class="about-page__info">
                    <div class="about-page__item-box">
                      <div class="about-page__item-title subtitle">Владивосток</div>
                      <p>ул. Выселковая, 30</p>
                    </div>
                    <div class="about-page__item-box">
                      <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
                      <p><a href="mailto:info@atp-shop.ru">info@atp-shop.ru</a></p>
                    </div>
                    <div class="about-page__item-box">
                      <div class="about-page__caption">Режим работы</div>
                      <p>ПН-ПТ 9:00-19:00</p>
                      <p>СБ: 10:00-17:00</p>
                      <p>ВС: 11:00-17:00</p>
                    </div>
                  </div>
                  <div class="about-page__images swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-1.jpg" data-fslightbox="gallery">
                          <img src="img/about-1.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-2.jpg" data-fslightbox="gallery">
                          <img src="img/about-2.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-3.jpg" data-fslightbox="gallery">
                          <img src="img/about-3.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </li>
                <li class="about-page__item">
                  <div class="about-page__info">
                    <div class="about-page__item-box">
                      <div class="about-page__item-title subtitle">Москва</div>
                      <p>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</p>
                    </div>
                    <div class="about-page__item-box">
                      <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
                      <p><a href="mailto:info@atp-shop.ru">info@atp-shop.ru</a></p>
                    </div>
                    <div class="about-page__item-box">
                      <div class="about-page__caption">Режим работы</div>
                      <p>ПН-ПТ 9:00-19:00</p>
                      <p>СБ: 10:00-17:00</p>
                      <p>ВС: 11:00-17:00</p>
                    </div>
                  </div>
                  <div class="about-page__images swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-2.jpg" data-fslightbox="gallery">
                          <img src="img/about-2.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-1.jpg" data-fslightbox="gallery">
                          <img src="img/about-1.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a class="about-page__img" href="img/about-3.jpg" data-fslightbox="gallery">
                          <img src="img/about-3.jpg" width="350" height="300" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </li>
                <li class="about-page__item">
                  <div class="about-page__info">
                    <div class="about-page__item-box">
                      <div class="about-page__item-title subtitle">Хабаровск</div>
                      <p>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</p>
                    </div>
                    <div class="about-page__item-box">
                      <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
                      <p><a href="mailto:info@atp-shop.ru">info@atp-shop.ru</a></p>
                    </div>
                    <div class="about-page__item-box">
                      <div class="about-page__caption">Режим работы</div>
                      <p>ПН-ПТ 9:00-19:00</p>
                      <p>СБ: 10:00-17:00</p>
                      <p>ВС: 11:00-17:00</p>
                    </div>
                  </div>
                  <div class="about-page__images">
                    <a class="about-page__img" href="img/about-3.jpg" data-fslightbox="gallery">
                      <img src="img/about-3.jpg" width="350" height="300" alt="">
                    </a>
                  </div>
                </li>
                <li class="about-page__item">
                  <div class="about-page__info">
                    <div class="about-page__item-box">
                      <div class="about-page__item-title subtitle">Благовещенск</div>
                      <p>ул. Воронкова 1</p>
                    </div>
                    <div class="about-page__item-box">
                      <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
                      <p><a href="mailto:info@atp-shop.ru">info@atp-shop.ru</a></p>
                    </div>
                    <div class="about-page__item-box">
                      <div class="about-page__caption">Режим работы</div>
                      <p>ПН-ПТ 9:00-19:00</p>
                      <p>СБ: 10:00-17:00</p>
                      <p>ВС: 11:00-17:00</p>
                    </div>
                  </div>
                  <div class="about-page__images">
                    <a class="about-page__img" href="img/about-4.jpg" data-fslightbox="gallery">
                      <img src="img/about-4.jpg" width="350" height="300" alt="">
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li class="is-active"><a href="about.html">О магазине</a></li>
          <li><a href="certificates.html">Сертификаты</a></li>
          <li><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
