<section class="about">
  <div class="about__wrapper" style="background-image: url('img/about-bg.png');">
    <div class="container">
      <div class="about__inner">
        <h3 class="about__title title">Магазин автотюнинга ATP</h3>
        <div class="about__text">
          <p> Auto Tuning Parts — название, говорящее за себя, — это компания, специализирующаяся на товарах для
            автоспорта и
            тюнинга большинства автомобилей как японского, так и европейского рынка.</p>
          <p>Молодая, но конкурентноспособная компания ATP находится на рынке с 2015 года. За это время мы открыли <b>4
              магазина
              по всей России: в Москве, Владивостоке, Хабаровске и Благовещенске.</b></p>
          <p>ATP помогает автолюбителям обеспечивать тюнингом свое авто по доступным ценам, при этом сохраняя свое
            качество.</p>
        </div>
        <div class="about__row">
          <ul class="about__list check-list">
            <li>Магазины в 4 городах</li>
            <li>Большой ассортимент</li>
            <li>Доступные цены</li>
          </ul>
          <ul class="about__list check-list">
            <li>Система лояльности</li>
            <li>Сертификаты</li>
            <li>Помощь в подборе комплектующих</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
