<section class="cart">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Корзина</a></li>
      </ul>
    </div>
    <div class="cart__inner">
      <h1 class="cart__title title">Корзина</h1>
      <form action="#">
        <div class="order-content">
          <div class="order-body">
            <div class="cart__head">
              <label class="cart__checkbox form-checkbox form-checkbox--grey">
                <input type="checkbox">
                <span class="form-checkbox__box"></span>
                <span class="form-checkbox__text">Выбрать все</span>
              </label>
              <button class="cart__delete">Удалить выбранные</button>
            </div>
            <ul class="cart__list">
              <li class="cart-item">
                <div class="cart-item__left">
                  <label class="cart-item__checkbox form-checkbox form-checkbox--grey">
                    <input type="checkbox">
                    <span class="form-checkbox__box"></span>
                  </label>
                  <a href="#" class="cart-item__img">
                    <img src="img/catalog-1.jpg" width="80" height="80" alt="">
                  </a>
                  <div class="cart-item__info">
                    <div class="cart-item__caption">Артикул: 18-32</div>
                    <div><a class="cart-item__title" href="#" target="_blank">V-band хомут стальной 2,25" – 57мм</a>
                    </div>
                    <button type="button" class="cart-item__favorites" data-text="В избранное">Добавить в
                      избранное</button>
                  </div>
                </div>
                <div class="cart-item__right">
                  <div class="cart-item__counter">
                    <button class="cart-item__counter-btn cart-item__counter-btn--minus" type="button"></button>
                    <div class="cart-item__counter-value">1</div>
                    <button class="cart-item__counter-btn cart-item__counter-btn--plus" type="button"></button>
                  </div>
                  <div class="cart-item__prices">
                    <div class="cart-item__price">420 ₽</div>
                  </div>
                </div>
                <button class="cart-item__delete-btn" type="button"></button>
              </li>
              <li class="cart-item">
                <div class="cart-item__left">
                  <label class="cart-item__checkbox form-checkbox form-checkbox--grey">
                    <input type="checkbox">
                    <span class="form-checkbox__box"></span>
                  </label>
                  <a href="#" class="cart-item__img">
                    <img src="img/catalog-1.jpg" width="80" height="80" alt="">
                  </a>
                  <div class="cart-item__info">
                    <div class="cart-item__caption">Артикул: 18-32</div>
                    <div><a class="cart-item__title" href="#" target="_blank">V-band хомут с фланцами быстросъемный 4"
                        (102 мм) с проточкой, нержа</a>
                    </div>
                    <button type="button" class="cart-item__favorites" data-text="В избранное">Добавить в
                      избранное</button>
                  </div>
                </div>
                <div class="cart-item__right">
                  <div class="cart-item__counter">
                    <button class="cart-item__counter-btn cart-item__counter-btn--minus" type="button"></button>
                    <div class="cart-item__counter-value">2</div>
                    <button class="cart-item__counter-btn cart-item__counter-btn--plus" type="button"></button>
                  </div>
                  <div class="cart-item__prices">
                    <div class="cart-item__price">840 ₽</div>
                  </div>
                </div>
                <button class="cart-item__delete-btn" type="button"></button>
              </li>
              <li class="cart-item">
                <div class="cart-item__left">
                  <label class="cart-item__checkbox form-checkbox form-checkbox--grey">
                    <input type="checkbox">
                    <span class="form-checkbox__box"></span>
                  </label>
                  <a href="#" class="cart-item__img">
                    <img src="img/catalog-1.jpg" width="80" height="80" alt="">
                  </a>
                  <div class="cart-item__info">
                    <div class="cart-item__caption">Артикул: 18-32</div>
                    <div><a class="cart-item__title" href="#" target="_blank">Стойки койловеры Subaru Forester 2009-2013
                        SH5 SH9</a>
                    </div>
                    <button type="button" class="cart-item__favorites" data-text="В избранное">Добавить в
                      избранное</button>
                  </div>
                </div>
                <div class="cart-item__right">
                  <div class="cart-item__counter">
                    <button class="cart-item__counter-btn cart-item__counter-btn--minus" type="button"></button>
                    <div class="cart-item__counter-value">2</div>
                    <button class="cart-item__counter-btn cart-item__counter-btn--plus" type="button"></button>
                  </div>
                  <div class="cart-item__prices">
                    <div class="cart-item__price-old">32 200 ₽</div>
                    <div class="cart-item__price">28 500 ₽</div>
                  </div>
                </div>
                <button class="cart-item__delete-btn" type="button"></button>
              </li>
            </ul>
          </div>
          <div class="order-aside">
            <div class="order-aside__title">Ваш заказ</div>
            <table class="order-aside__table">
              <tr>
                <td>Количество</td>
                <td>4 шт.</td>
              </tr>
              <tr>
                <td>Скидка</td>
                <td class="color-green"> -3 700 ₽</td>
              </tr>
              <tr class="order-aside__footer">
                <td class="order-aside__result-caption">Итого</td>
                <td class="order-aside__result-num">29 760 ₽</td>
              </tr>
            </table>
            <div class="order-aside__field">
              <input type="text" placeholder="Промокод">
              <button class="order-aside__field-btn" disabled>Применить</button>
            </div>
            <button class="order-aside__btn btn"> Оформить заказ </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
