<section class="catalog">
  <div class="container container--wide">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог автозапчастей</a></li>
      </ul>
    </div>
    <div class="catalog__inner">
      {% include "./catalog-menu.njk" %}
      <div class="catalog__content">
        <h1 class="catalog__title title">Каталог автозапчастей</h1>
        <div class="catalog__body">
          <ul class="catalog__categories">
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-2.png');">
                <h4 class="category__name">Система охлаждения</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-3.png');">
                <h4 class="category__name">выпускная система</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-4.png');">
                <h4 class="category__name">Впускная система</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-5.png');">
                <h4 class="category__name">Комплектующие двигателя </h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-6.png');">
                <h4 class="category__name">Турбины и комплектующие</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-7.png');">
                <h4 class="category__name">Тормозная система и колеса</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-8.png');">
                <h4 class="category__name">Автохимия и масла</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-9.png');">
                <h4 class="category__name">Электроника
                  и датчики</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-10.png');">
                <h4 class="category__name">Подвеска и трансмиссия</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-13.png');">
                <h4 class="category__name">Патрубки, хомуты&nbsp;и шланги</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-11.png');">
                <h4 class="category__name">Экстерьер</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-12.png');">
                <h4 class="category__name">Интерьер</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-1.png');">
                <h4 class="category__name">Брелки, сувениры, одежда</h4>
              </a>
            </li>
            <li class="category">
              <a class="category__inner" href="#" style="background-image: url('img/categories-14.png');">
                <h4 class="category__name">Фитинги
                  и&nbsp;адаптеры</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
