<aside class="catalog__menu catalog-menu">
  <ul class="catalog-menu__list menu menu--hover">
    <li class="submenu">
      <a href="#">Брелоки, сувениры, одежда</a>
      <div class="submenu__content" style="background-image: url('img/categories-1.png');">
        <div class="submenu__title">Брелоки, сувениры, одежда</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Впускная система</a>
      <div class="submenu__content" style="background-image: url('img/categories-2.png');">
        <div class="submenu__title">Впускная система</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Выпускная система</a>
      <div class="submenu__content" style="background-image: url('img/categories-3.png');">
        <div class="submenu__title">Выпускная система</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Двигатель и системы ДВС</a>
      <div class="submenu__content" style="background-image: url('img/categories-4.png');">
        <div class="submenu__title">Двигатель и системы ДВС</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      <div class="submenu__content" style="background-image: url('img/categories-5.png');">
        <div class="submenu__title">Турбины и комплектующие</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Интерьер</a>
      <div class="submenu__content" style="background-image: url('img/categories-6.png');">
        <div class="submenu__title">Интерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Интерьер</a>
      <div class="submenu__content" style="background-image: url('img/categories-7.png');">
        <div class="submenu__title">Интерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Патрубки, хомуты и шланги</a>
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Патрубки, хомуты и шланги</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Подвеска и трансмиссия</a>
      <div class="submenu__content" style="background-image: url('img/categories-10.png');">
        <div class="submenu__title">Подвеска и трансмиссия</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Тормозная система и колеса</a>
      <div class="submenu__content" style="background-image: url('img/categories-9.png');">
        <div class="submenu__title">Тормозная система и колеса</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      <div class="submenu__content" style="background-image: url('img/categories-10.png');">
        <div class="submenu__title">Турбины и комплектующие</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Фитинги и адаптеры</a>
      <div class="submenu__content" style="background-image: url('img/categories-11.png');">
        <div class="submenu__title">Фитинги и адаптеры</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Экстерьер</a>
      <div class="submenu__content" style="background-image: url('img/categories-1.png');">
        <div class="submenu__title">Экстерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Электроника и датчики</a>
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Электроника и датчики</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Автохимия</a>
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Автохимия</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <button class="catalog__close"></button>
</aside>
<div class="catalog-overlay overlay"></div>
