<section class="catalog">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Выпускная система</a></li>
        <li><a href="#">Фланцы, прокладки</a></li>
        <li><a href="#">V-band фланцы и хомуты</a></li>
      </ul>
    </div>
    <div class="catalog__inner">
      {% include "./catalog-menu-active.njk" %}
      <main class="catalog__content">
        <h1 class="catalog__title title">V-band фланцы и хомуты</h1>
        <div class="catalog__filter catalog-filter">
          <form class="catalog-filter__form" action="#">
            <div class="catalog-filter__row">
              <div class="catalog-filter__col">
                <label class="catalog-filter__select form-select">
                  <span>Модели</span>
                  <select>
                    <option value="1">V-band в сборе быстросъёмный</option>
                    <option value="2">V-band 2</option>
                    <option value="3">V-band 3</option>
                    <option value="4">V-band 4</option>
                  </select>
                </label>
              </div>
              <div class="catalog-filter__col">
                <label class="catalog-filter__select form-select">
                  <span>Диаметр (дюймы)</span>
                  <select>
                    <option value="1" checked data-placeholder="true">Любой</option>
                    <option value="2">V-band 2</option>
                    <option value="3">V-band 3</option>
                    <option value="4">V-band 4</option>
                  </select>
                </label>
              </div>
              <div class="catalog-filter__col">
                <label class="catalog-filter__select form-select">
                  <span>Диаметр (мм)</span>
                  <select>
                    <option value="1">100-115 мм</option>
                    <option value="2">V-band 2</option>
                    <option value="3">V-band 3</option>
                    <option value="4">V-band 4</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="catalog-filter__row">
              <div class="catalog-filter__col">
                <label class="catalog-filter__select form-select">
                  <span>Проточка</span>
                  <select>
                    <option value="1">Без проточки</option>
                    <option value="2">V-band 2</option>
                    <option value="3">V-band 3</option>
                    <option value="4">V-band 4</option>
                  </select>
                </label>
              </div>
              <div class="catalog-filter__col">
                <label class="catalog-filter__select form-select">
                  <span>Материал</span>
                  <select>
                    <option value="1" checked data-placeholder="true">Выберите материал</option>
                    <option value="2">V-band 2</option>
                    <option value="3">V-band 3</option>
                    <option value="4">V-band 4</option>
                  </select>
                </label>
              </div>
              <div class="catalog-filter__col">
                <button class="catalog-filter__btn btn">Показать</button>
              </div>
            </div>
            <div class="catalog-filter__clear">
              <button class="catalog-filter__reset" type="reset">Очистить все фильтры</button>
            </div>
          </form>
        </div>
        <div class="catalog__body">
          <div class="catalog__sort">
            <div class="catalog__select form-select-transparent">
              <select>
                <option value="1">По популярности</option>
                <option value="2">По рейтингу</option>
                <option value="3">По цене</option>
              </select>
            </div>
            <div class="catalog__select form-select-transparent">
              <select>
                <option value="1">Все магазины</option>
                <option value="2">Магазин 2</option>
                <option value="3">Магазин 3</option>
              </select>
            </div>
            <div class="catalog__icons">
              <button class="catalog__icon is-active"><img src="img/catalog-type-1.svg" alt="Вид: сетка"></button>
              <button class="catalog__icon"><img src="img/catalog-type-2.svg" alt="Вид: список"></button>
            </div>
          </div>
          <ul class="catalog__list">
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-1.jpg" width="260" height="200" alt="">
                <div class="product-card__banner product-card__banner--red">Скидка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии в другом городе</div>
                <a class="product-card__title" href="#">V-band хомут с фланцами быстросъемный 4" (102мм) с проточкой,
                  нержа</a>
                <div class="product-card__footer">
                  <div class="product-card__prices">
                    <div class="product-card__price-old">2 200 ₽</div>
                    <div class="product-card__price-new">1 900 ₽</div>
                  </div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart is-active"></button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          {% include "../common/pagination.njk" %}
        </div>
        <div class="catalog__footer">
          <p>Описание раздела. В нашем интернет-магазине представлен большой ассортимент запчастей для тюнинга культовых
            японских автомобилей Toyota, Subaru, Nissan, Honda, Mazda и др. Описание категории. Страницы дочерних
            категорий каталога должны содержать превью карточек товаров выбранной категории, описание категории, а также
            другие элементы управления. Некоторые товары в каталоге могут находиться в нескольких категориях.
          </p>
          <p>Описание категории. Страницы дочерних категорий каталога должны содержать превью карточек товаров выбранной
            категории, описание категории, а также другие элементы управления. Некоторые товары в каталоге могут
            находиться в нескольких категориях. </p>
        </div>
      </main>
    </div>
  </div>
</section>
