<aside class="catalog__menu catalog-menu">
  <ul class="catalog-menu__list menu">
    <li class="submenu">
      <a href="#">Брелоки, сувениры, одежда</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-1.png');">
        <div class="submenu__title">Брелоки, сувениры, одежда</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Впускная система</a>
      <div class="submenu__content" style="background-image: url('img/categories-2.png');">
        <div class="submenu__title">Впускная система</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Выпускная система</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Аксессуары</a></li>
        <li class="submenu">
          <a href="#">Бочки, резонаторы, гофры</a>
          <ul>
            <li><a href="#">Бочки</a></li>
            <li><a href="#">Резонаторы</a></li>
            <li><a href="#">Гофры</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Выхлопные трассы</a>
          <ul>
            <li><a href="#">Выхлопные трассы 1</a></li>
            <li><a href="#">Выхлопные трассы 2</a></li>
            <li><a href="#">Выхлопные трассы 3</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Даунпайпы, аппайпы, аутлеты</a>
          <ul>
            <li><a href="#">Даунпайпы</a></li>
            <li><a href="#">Аппайпы</a></li>
            <li><a href="#">Аутлеты</a></li>
          </ul>
        </li>
        <li><a href="#">Катализаторы, обманки</a></li>
        <li class="submenu">
          <a href="#">Коллекторы выпускные</a>
          <ul>
            <li><a href="#">Коллекторы выпускные 1</a></li>
            <li><a href="#">Коллекторы выпускные 2</a></li>
            <li><a href="#">Коллекторы выпускные 3</a></li>
          </ul>
        </li>
        <li><a href="#">Насадки на глушитель</a></li>
        <li><a href="#">Термозащита</a></li>
        <li class="submenu">
          <a href="#">Трубы и отводы для выпускной системы</a>
          <ul>
            <li><a href="#">Трубы</a></li>
            <li><a href="#">Отводы</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Фланцы, прокладки</a>
          <ul>
            <li class="is-current"><a href="#">V-band фланцы и хомуты</a></li>
            <li><a href="#">Прокладки</a></li>
            <li><a href="#">Фланцы</a></li>
          </ul>
        </li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-3.png');">
        <div class="submenu__title">Выпускная система</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Двигатель и системы ДВС</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-4.png');">
        <div class="submenu__title">Двигатель и системы ДВС</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Привода</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Рычаги, линки, теншены</a></li>
            <li><a href="#">Сайлентблоки усиленные</a></li>
            <li><a href="#">Стойки</a></li>
            <li><a href="#">Сцепление</a></li>
            <li><a href="#">Тюнинг КПП</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-5.png');">
        <div class="submenu__title">Турбины и комплектующие</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Интерьер</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-6.png');">
        <div class="submenu__title">Интерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Интерьер</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-7.png');">
        <div class="submenu__title">Интерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Патрубки, хомуты и шланги</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Патрубки, хомуты и шланги</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Подвеска и трансмиссия</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-10.png');">
        <div class="submenu__title">Подвеска и трансмиссия</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Тормозная система и колеса</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-9.png');">
        <div class="submenu__title">Тормозная система и колеса</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-10.png');">
        <div class="submenu__title">Турбины и комплектующие</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Фитинги и адаптеры</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-11.png');">
        <div class="submenu__title">Фитинги и адаптеры</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Экстерьер</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-1.png');">
        <div class="submenu__title">Экстерьер</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Электроника и датчики</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Электроника и датчики</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu">
      <a href="#">Автохимия</a>
      {# Пункты меню которые отображаются в активном состоянии #}
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
      {# Пункты меню которые отображаются при наведении #}
      <div class="submenu__content" style="background-image: url('img/categories-8.png');">
        <div class="submenu__title">Автохимия</div>
        <div class="submenu__row">
          <ul>
            <li><a href="#">Втулки кулисы</a></li>
            <li><a href="#">Запчасти к стойкам, ШС, ключи</a></li>
            <li><a href="#">Кулисы кпп</a></li>
            <li><a href="#">Маховики</a></li>
            <li><a href="#">Пружины</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <button class="catalog-menu__close"></button>
</aside>
<div class="catalog-overlay overlay"></div>
