<aside class="catalog__menu catalog-menu">
  <ul class="catalog-menu__list menu">
    <li class="submenu">
      <a href="#">Брелоки, сувениры, одежда</a>
      <ul>
        <li><a href="#">Брелоки</a></li>
        <li><a href="#">Сувениры</a></li>
        <li><a href="#">Одежда</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Впускная система</a>
      <ul>
        <li><a href="#">Впускная система 1</a></li>
        <li><a href="#">Впускная система 2</a></li>
        <li><a href="#">Впускная система 3</a></li>
      </ul>
    </li>
    <li class="submenu is-active">
      <a href="#">Выпускная система</a>
      <ul>
        <li><a href="#">Аксессуары</a></li>
        <li class="submenu">
          <a href="#">Бочки, резонаторы, гофры</a>
          <ul>
            <li><a href="#">Бочки</a></li>
            <li><a href="#">Резонаторы</a></li>
            <li><a href="#">Гофры</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Выхлопные трассы</a>
          <ul>
            <li><a href="#">Выхлопные трассы 1</a></li>
            <li><a href="#">Выхлопные трассы 2</a></li>
            <li><a href="#">Выхлопные трассы 3</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Даунпайпы, аппайпы, аутлеты</a>
          <ul>
            <li><a href="#">Даунпайпы</a></li>
            <li><a href="#">Аппайпы</a></li>
            <li><a href="#">Аутлеты</a></li>
          </ul>
        </li>
        <li><a href="#">Катализаторы, обманки</a></li>
        <li class="submenu">
          <a href="#">Коллекторы выпускные</a>
          <ul>
            <li><a href="#">Коллекторы выпускные 1</a></li>
            <li><a href="#">Коллекторы выпускные 2</a></li>
            <li><a href="#">Коллекторы выпускные 3</a></li>
          </ul>
        </li>
        <li><a href="#">Насадки на глушитель</a></li>
        <li><a href="#">Термозащита</a></li>
        <li class="submenu">
          <a href="#">Трубы и отводы для выпускной системы</a>
          <ul>
            <li><a href="#">Трубы</a></li>
            <li><a href="#">Отводы</a></li>
          </ul>
        </li>
        <li class="submenu is-active">
          <a href="#">Фланцы, прокладки</a>
          <ul>
            <li class="is-current"><a href="#">V-band фланцы и хомуты</a></li>
            <li><a href="#">Прокладки</a></li>
            <li><a href="#">Фланцы</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Двигатель и системы ДВС</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Интерьер</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Охлаждение</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Патрубки, хомуты и шланги</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Подвеска и трансмиссия</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Тормозная система и колеса</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Турбины и комплектующие</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Фитинги и адаптеры</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Экстерьер</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Электроника и датчики</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#">Автохимия</a>
      <ul>
        <li><a href="#">Пункт 1</a></li>
        <li><a href="#">Пункт 2</a></li>
        <li><a href="#">Пункт 3</a></li>
      </ul>
    </li>
  </ul>
  <button class="catalog__close"></button>
</aside>
<div class="catalog-overlay overlay"></div>
