<section class="categories">
  <div class="container">
    <div class="categories__inner">
      <div class="categories__head">
        <div class="categories__info">
          <h2 class="categories__title title">Автотовары</h2>
          <div class="categories__text">
            <p>В нашем интернет-магазине представлен большой ассортимент запчастей для тюнинга культовых японских
              автомобилей Toyota, Subaru, Nissan, Honda, Mazda и др.</p>
          </div>
          <a class="categories__btn btn-outline-arrow" href="#"><span>пЕРЕЙТИ В ОБЩИЙ КАТАЛОГ</span></a>
        </div>
        <div class="category" style="background-image: url('img/categories-1.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name category__name--lg">Аксессуары, брелки, сувениры, одежда</h4>
          </a>
        </div>
      </div>
      <ul class="categories__list">
        <li class="category" style="background-image: url('img/categories-2.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Система охлаждения</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-3.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">выпускная система</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-4.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Впускная система</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-5.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Комплектующие двигателя </h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-6.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Турбины и комплектующие</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-7.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Тормозная система и колеса</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-8.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Автохимия и масла</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-9.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Электроника
              и датчики</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-10.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Подвеска и трансмиссия</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-11.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Экстерьер</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-12.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Интерьер</h4>
          </a>
        </li>
        <li class="category" style="background-image: url('img/categories-13.png');">
          <a class="category__inner" href="#">
            <h4 class="category__name">Шланги
              и хомуты</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
