<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Сертификаты</a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="certificates">
          <div class="certificates__inner">
            <h1 class="certificates__title title title--offset">Подарочные сертификаты</h1>
            <div class="info">
              <div class="info__box text-container">
                <h3>Удобный и практичный подарок для ваших близких</h3>
                <p>На сайте вы можете приобрести Электронный подарочный сертификат, которым можно оплатить покупки в
                  интернет-магазине atp-shop.ru. Физические сертификаты можно приобрести в любом нашем <a
                    href="#">магазине</a>. </p>
                <div class="certificates__row">
                  <div class="certificates__col">
                    <div class="certificates__controls">
                      <label class="certificates__select form-item">
                        <span class="form-item__caption">Выберите номинал карты</span>
                        <div class="form-select">
                          <select>
                            <option value="1">5 000 руб</option>
                            <option value="2">10 000 руб</option>
                            <option value="3">15 000 руб</option>
                          </select>
                        </div>
                      </label>
                      <label class="certificates__counter form-item">
                        <span class="form-item__caption">Количество</span>
                        <div class="counter">
                          <button class="counter__btn counter__btn--minus" type="button"></button>
                          <div class="counter__value">1</div>
                          <button class="counter__btn counter__btn--plus" type="button"></button>
                        </div>
                      </label>
                    </div>
                    <div class="certificates__result">
                      <div class="certificates__price-caption">Стоимость</div>
                      <div class="certificates__price">5 000 ₽</div>
                    </div>
                    <button class="certificates__btn btn" data-modal-open="modal-certificate">Оформить</button>
                  </div>
                  <div class="certificates__col">
                    <div class="certificates__img">
                      <img src="img/certificates.png" width="311" height="180" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="info__box text-container">
                <h3>Правила приобретения и использования подарочных сертификатов ATP-shop.ru</h3>
                <ol>
                  <li>Подарочные сертификаты приобретаются исключительно по номинальной стоимости сертификата. Никакие
                    клиентские скидки на подарочные сертификаты не распространяются.</li>
                  <li>Денежные средства за подарочные сертификат не возвращаются покупателю и не могут выплачены
                    предъявителю сертификата</li>
                  <li>Подарочный сертификат может быть использован исключительно для получения скидки на товары
                    приобретаемые в интернет-магазине atp-shop.ru. Размер скидки равен номинальной стоимости подарочного
                    сертификата.</li>
                  <li>В случае, если сумма заказа (общая стоимость товаров в заказе) меньше номинала сертификата,
                    используемого для оплаты заказа, сдача не выплачивается. При этом покупатель вправе изменить заказ
                    увеличив его стоимость.</li>
                  <li>Сертификат будет отправлен на email или телефон Получателя</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li><a href="about.html">О магазине</a></li>
          <li class="is-active"><a href="certificates.html">Сертификаты</a></li>
          <li><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
