<section class="contacts">
  <div class="contacts__inner">
    <div class="contacts__content">
      <h3 class="contacts__title title">Наши магазины</h3>
      <div class="contacts__tabs-wrapper">
        <ul class="contacts__tabs">
          <li class="is-active" tabindex="0" role="button" data-tabs="1" data-coords="[56.234470, 43.966056]"
            data-title="ул. Выселковая, 30">
            Владивосток</li>
          <li tabindex="0" role="button" data-tabs="2" data-coords="[48.480229, 135.071917]"
            data-title="где-то в Хабаровске">Хабаровск</li>
          <li tabindex="0" role="button" data-tabs="3" data-coords="[50.257456, 127.534611]"
            data-title="где-то в Благовещенске">Благовещенск</li>
          <li tabindex="0" role="button" data-tabs="4" data-coords="[55.755864, 37.617698]"
            data-title="где-то в Москве">
            Москва</li>
        </ul>
      </div>
      <div class="contacts__tabs-content">
        <div class="contacts__info is-active" data-tabs="1">
          <div class="contacts__info-title">Менеджер по работе с интернет заказами atp-shop.ru</div>
          <p><a href="tel:+79141718208">+7 (914) 171-82-08</a></p>
          <div class="contacts__info-title">Магазин-склад в г. Владивосток</div>
          <p>ул. Выселковая, 30</p>
          <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
          <div class="contacts__info-title">Магазин работает</div>
          <p>ПН-ПТ 9:00-19:00</p>
          <p>СБ: 10:00-17:00</p>
          <p>ВС: 11:00-17:00</p>
        </div>
        <div class="contacts__info" data-tabs="2">
          <div class="contacts__info-title">Менеджер по работе с интернет заказами atp-shop.ru</div>
          <p><a href="tel:+79141718208">+7 (914) 171-82-08</a></p>
          <div class="contacts__info-title">Магазин-склад в г. Хабаровск</div>
          <p>ул. Выселковая, 30</p>
          <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
          <div class="contacts__info-title">Магазин работает</div>
          <p>ПН-ПТ 9:00-19:00</p>
          <p>СБ: 10:00-17:00</p>
          <p>ВС: 11:00-17:00</p>
        </div>
        <div class="contacts__info" data-tabs="3">
          <div class="contacts__info-title">Менеджер по работе с интернет заказами atp-shop.ru</div>
          <p><a href="tel:+79141718208">+7 (914) 171-82-08</a></p>
          <div class="contacts__info-title">Магазин-склад в г. Благовещенск</div>
          <p>ул. Выселковая, 30</p>
          <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
          <div class="contacts__info-title">Магазин работает</div>
          <p>ПН-ПТ 9:00-19:00</p>
          <p>СБ: 10:00-17:00</p>
          <p>ВС: 11:00-17:00</p>
        </div>
        <div class="contacts__info" data-tabs="4">
          <div class="contacts__info-title">Менеджер по работе с интернет заказами atp-shop.ru</div>
          <p><a href="tel:+79141718208">+7 (914) 171-82-08</a></p>
          <div class="contacts__info-title">Магазин-склад в г. Москва</div>
          <p>ул. Выселковая, 30</p>
          <p><a href="tel:+79025556999">+7 (902) 555-69-99</a></p>
          <div class="contacts__info-title">Магазин работает</div>
          <p>ПН-ПТ 9:00-19:00</p>
          <p>СБ: 10:00-17:00</p>
          <p>ВС: 11:00-17:00</p>
        </div>
      </div>
    </div>
    <div class="contacts__map map" id="contacts-map"></div>
  </div>
</section>
