<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Акции и скидки</a></li>
        <li><a href="#">Скидка 15% на турбины </a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="news-single">
          <div class="news-single__inner">
            <h1 class="news-single__title title">Скидка 15% на турбины </h1>
            <div class="news-single__content">
              <div class="news-single__img">
                <img src="img/discounts-5.jpg" alt="">
              </div>
              <div class="news-single__info text-container">
                <p>Описание акции. Успейте купить турбину Subaru до конца мая и получите скидку 15%. Описание акции.
                  Успейте купить турбину Subaru до конца мая и получите скидку 15%.
                </p>
                <p> Описание акции. Успейте купить турбину Subaru до конца мая и получите скидку 15%. Описание акции.
                  Успейте купить турбину Subaru до конца мая и получите скидку 15%. Описание акции. Успейте купить
                  турбину Subaru до конца мая и получите скидку 15%.</p>
                <h3>У нас действует накопительная система скидок</h3>
                <p> Каждые 10 000 ₽ – это дополнительный 1% скидки. Максимальная скидка 10%.</p>
              </div>
              <div class="news-single__catalog">
                <h2 class="news-single__subtitle subtitle">Товары по акции</h2>
                <div class="catalog__sort">
                  <div class="catalog__select form-select-transparent">
                    <select>
                      <option value="1">По популярности</option>
                      <option value="2">По рейтингу</option>
                      <option value="3">По цене</option>
                    </select>
                  </div>
                  <div class="catalog__select form-select-transparent">
                    <select>
                      <option value="1">Все магазины</option>
                      <option value="2">Магазин 2</option>
                      <option value="3">Магазин 3</option>
                    </select>
                  </div>
                </div>
                <ul class="catalog__list">
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-1.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner product-card__banner--red">Скидка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут с фланцами быстросъемный 4" (102мм) с
                        проточкой,
                        нержа</a>
                      <div class="product-card__footer">
                        <div class="product-card__prices">
                          <div class="product-card__price-old">2 200 ₽</div>
                          <div class="product-card__price-new">1 900 ₽</div>
                        </div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock product-card__stock--no" data-text="Нет в наличии">Нет в наличии
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart-disabled" disabled></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock product-card__stock--no" data-text="Нет в наличии">Нет в наличии
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart-disabled" disabled></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock product-card__stock--no" data-text="Нет в наличии">Нет в наличии
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart-disabled" disabled></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock product-card__stock--no" data-text="Нет в наличии">Нет в наличии
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart-disabled" disabled></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock product-card__stock--no" data-text="Нет в наличии">Нет в наличии
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart-disabled" disabled></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="product-card">
                    <a class="product-card__img" href="#">
                      <img src="img/catalog-2.jpg" width="260" height="200" alt="">
                      <div class="product-card__banner">Новинка</div>
                    </a>
                    <div class="product-card__content">
                      <div class="product-card__stock"><span data-text="В наличии">Есть в наличии </span>
                        <div class="product-card__modal">
                          <ul>
                            <li class="product-card__modal-item">
                              <div>Хабаровск</div>
                              <span>ул. Индустриальная 1Б, ТЦ Универсал. Место №18</span>
                            </li>
                            <li class="product-card__modal-item product-card__modal-item--no">
                              <div>Благовещенск</div>
                              <span>ул. Воронкова 1</span>
                            </li>
                            <li class="product-card__modal-item">
                              <div>Москва</div>
                              <span>ул. Южнопортовая 22с1, 2 этаж, павильон 206в</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a class="product-card__title" href="#">V-band хомут стальной 2"– 51мм</a>
                      <div class="product-card__footer">
                        <div class="product-card__price">420 ₽</div>
                        <div class="product-card__icons">
                          <button class="product-card__icon icon-wishlist"></button>
                          <button class="product-card__icon icon-cart is-active"></button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                {% include "../common/pagination-left.njk" %}
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li><a href="about.html">О магазине</a></li>
          <li><a href="certificates.html">Сертификаты</a></li>
          <li><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
