<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Акции и скидки</a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="news">
          <div class="news__inner">
            <h1 class="news__title title">Акции и скидки</h1>
            <div class="news__content">
              <div class="news__box">
                <ul class="news__list">
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-1.jpg" width="360" height="260" alt="">
                        <div class="news__img-badge">SALE</div>
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Скидка 15% на турбины </div>
                        <div class="news__desc">Успейте купить турбину Subaru до конца мая и получите скидку 15%</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-2.jpg" width="360" height="260" alt="">
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Приведи друзей и получи скидку 10% за каждого</div>
                        <div class="news__desc">Краткое описание акции</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-3.jpg" width="360" height="260" alt="">
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Заголовок новости</div>
                        <div class="news__desc">Краткое описание новости</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-4.jpg" width="360" height="260" alt="">
                        <div class="news__img-badge">SALE</div>
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Акссесуар в подарок</div>
                        <div class="news__desc">Купите любых товаров на сумму 5000 руб. и получите аксессуар на выбор
                          в подарок</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-1.jpg" width="360" height="260" alt="">
                        <div class="news__img-badge">SALE</div>
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Скидка 15% на турбины </div>
                        <div class="news__desc">Успейте купить турбину Subaru до конца мая и получите скидку 15%</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-2.jpg" width="360" height="260" alt="">
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Приведи друзей и получи скидку 10% за каждого</div>
                        <div class="news__desc">Краткое описание акции</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-3.jpg" width="360" height="260" alt="">
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Заголовок новости</div>
                        <div class="news__desc">Краткое описание новости</div>
                      </div>
                    </a>
                  </li>
                  <li class="news__item">
                    <a class="news__item-inner" href="#">
                      <div class="news__img">
                        <img src="img/discounts-4.jpg" width="360" height="260" alt="">
                        <div class="news__img-badge">SALE</div>
                      </div>
                      <div class="news__info">
                        <div class="news__name subtitle">Акссесуар в подарок</div>
                        <div class="news__desc">Купите любых товаров на сумму 5000 руб. и получите аксессуар на выбор
                          в подарок</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              {% include "../common/pagination-left.njk" %}
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li><a href="about.html">О магазине</a></li>
          <li><a href="certificates.html">Сертификаты</a></li>
          <li class="is-active"><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
