<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Акции и скидки</a></li>
        <li><a href="#">Скидка 15% на турбины </a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="garanties">
          <div class="garanties__inner">
            <h1 class="garanties__title title title--offset">Гарантийные обязательства компании ATP-SHOP</h1>
            <div class="info">
              <div class="info__box text-container">
                <img src="img/garanties-1.svg" alt="">
                <h2>Правила возврата купленного товара</h2>
                <p>Уважаемый покупатель, просим ознакомится с условиями возврата, предоставления и сохранения гарантии
                  на товары нашего магазина.</p>
                <p> Возврат и обмен товара, приобретённого в нашем магазине, регламентируются действующим
                  законодательством
                  (ст. 502 Гражданского кодекса РФ, ст. 25 Закона РФ «О защите прав потребителей»).</p>
                <p>В случае возврата товара, транспортные расходы несёт покупатель.</p>

                <h3>Требования к возвращаемому товару</h3>
                <ul>
                  <li>Товар принимается к возврату только по чеку, в упаковке, в которой он был отпущен клиенту, не
                    зависимо
                    от причины возврата.</li>
                  <li>Упаковка не должна содержать какие-либо надписи, быть поврежденной.</li>
                  <li>При возврате бракованного товара прилагаются документы, подтверждающие наличие брака путем
                    экспертизы
                    (экспертиза проводится за счет покупателя).</li>
                </ul>
                <h3>Условия возврата</h3>
                <ul>
                  <li> Если товар возвращается необоснованно, то прием товара производится в течение 14 дней с момента
                    получения товара покупателем при условии сохранения всех потребительских свойств товара (нет следов
                    установки, не нарушена целостность упаковки, не нарушена комплектация).</li>
                  <li>Товар с утерянной или нарушенной заводской упаковкой возврату не подлежит.</li>
                  <li>
                    В случае, если имела место установка детали на а/м, необходимо дополнительно представить:
                    <ol>
                      <li>копию наряд-заказа сервиса, где производилась установка товара на а/м;</li>
                      <li>копию лицензии этого сервиса на проведение работ по установке данного изделия;</li>
                      <li>справка и заключение сервисной станции о проведении работ по установке данного товара на а/м
                        клиента;</li>
                      <li>копию сертификата соответствия на оказание услуг, предоставляемых сервисом.</li>
                      <li>заполненный бланк рекламации.</li>
                    </ol>
                  </li>
                  <li>Детали, присланные на возврат без соблюдения вышеперечисленных правил, мы возвращаем назад
                    покупателю, за его счет.</li>
                </ul>
              </div>
              <div class="info__box text-container">
                <img src="img/garanties-2.svg" alt="">
                <h2>Гарантия</h2>
                <p>В соответствии со ст. 5 Закона РФ от 07.02.1992 № 2300-1 «О защите прав потребителей» - изготовитель
                  (исполнитель) вправе устанавливать на товар (работу) гарантийный срок - период, в течение которого в
                  случае обнаружения в товаре (работе) недостатка изготовитель (исполнитель), продавец, уполномоченная
                  организация или уполномоченный индивидуальный предприниматель, импортер обязаны удовлетворить
                  требования потребителя, установленные статьями 18 и 29 настоящего Закона.</p>
                <p>Продавец также в праве установить на товар гарантийный срок, если он не установлен изготовителем.</p>
                <h3>В связи с вышеизложенным нашим магазином установлены следующие гарантийные сроки: гарантийный срок 6
                  месяцев на ниже перечисленные товары:</h3>
                <ul>
                  <li>распорки кузова (гарантия на крепеж не распространяется)</li>
                  <li>интеркулеры и масляные радиаторы (кроме крепежных, и резьбовых элементов)</li>
                  <li>изделия из силикона - патрубки, соединители, метровые шланги.</li>
                  <li>трубы алюминиевые и из нержавеющей стали.</li>
                  <li>изделия из алюминия и стали фрезерованные -петли, проставки колесные до 10мм. ( не
                    распространяется
                    на покрытие путем окраски и анодирования);</li>
                </ul>
                <h3>Гарантийные обязательства не распространяются на следующие товары:</h3>
                <ul>
                  <li>датчики и прочие измерительные приборы. (электроника)</li>
                  <li>все элементы и детали подвески (рычаги, тяги, амортизатор, койловеры, проставки для установки
                    суппортов, и прочее), за исключением заводского брака, обнаруженного перед установкой, (после
                    установки
                    претензии по качеству товара не принимаются)</li>
                  <li>фитинги алюминиевые составные (из нескольких элементов);</li>
                  <li>топливные насосы и регуляторы в том числе и реплики, (после их установки на авто)</li>
                  <li>вестгейты (после установки на ДВС).</li>
                  <li>турбины и турбокомпрессоры, ремкомплекты к турбинам.</li>
                  <li>колесные проставки более10мм /расширители колеи (после и установки на авто).</li>
                  <li>диски и накладки сцепления, корзины сцепления.</li>
                  <li>крепежные элементы, входящие в состав других изделий;</li>
                  <li>гайки колесные алюминиевые</li>
                  <li>гайки колесные стальные в части претензий к качеству декоративного покрытия</li>
                  <li>Декоротивные расширители арок, резинки, обвесы из стеклопластика (под подгонку)</li>
                </ul>
                <h3>Также возврату и обмену не подлежат элементы, имеющие кратную нарезку:</h3>
                <ul>
                  <li>шланги армированные, маслобензостойкие, тормозные, тефлоновые;</li>
                  <li>силиконовые шланги метражом</li>
                  <li> иные подобные товары</li>
                </ul>
                <h3>Кроме того:</h3>
                <ul>
                  <li>претензии к внешнему виду принимаются только до установки изделия на авто с предоставлением
                    фотографий и видео ;</li>
                  <li>претензии по механическим повреждениям габаритных изделий, транспортируемых в отдельной
                    коробке-таре
                    (бочки, баки, радиаторы и т.п.), принимаются только при заказе услуги обрешетки в соответствующей ТК
                  </li>
                </ul>
                <p>Во всех случаях мы настоятельно рекомендуем проверять товар сразу: в магазине или в транспортной
                  компании, после получения, при доставке курьером — в присутствии курьера, или представителя ТК.</p>
                <p>Претензии на компенсацию затрат Покупателя на монтаж или демонтаж бракованного товара принимаются
                  только при наличие оформленного в соответствие с требованиями законодательства заказ-наряда на
                  выполнение работ, документов финансовой отчетности и приложенной лицензии/сертификата установочного
                  или сервисного центра на выполнение работ по ремонту и обслуживания автомобилей. При
                  специализированных работах необходимо наличие дополнительных разрешительных документов.</p>
                <p>Производитель в праве поменять комплектность или цвет товара. </p>
                <p>Более подробную информацию вы можете уточнить перед покупкой товара</p>
                <p>В случае возврата товара, транспортные расходы несёт покупатель, за исключением, когда товар не
                  соответствует описанию</p>
              </div>
              <div class="info__box text-container">
                <img src="img/garanties-3.svg" alt="">
                <h2>ВНИМАНИЕ!</h2>
                <p> Приобретение товаров в нашем магазине означает, что Вы согласны с данными условиями предоставления
                  гарантии и ознакомлены с ними. Любые споры-претензии-рекламации принимаются только в соответствие с
                  данными условиями</p>
                <p> В случае возврата товара, транспортные расходы несёт покупатель, за исключением, когда товар не
                  соответствует описанию</p>
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li><a href="about.html">О магазине</a></li>
          <li><a href="certificates.html">Сертификаты</a></li>
          <li><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li class="is-active"><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
