<div class="page-inner">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Акции и скидки</a></li>
      </ul>
    </div>
    <div class="page-inner__row">
      <main class="page-inner__content">
        <section class="news-single">
          <div class="news-single__inner">
            <h1 class="news-single__title title">Заголовок новости</h1>
            <div class="news-single__content">
              <div class="news-single__img">
                <img src="img/news-1.jpg" alt="">
              </div>
              <div class="news-single__info text-container">
                <time class="news-single__date">14.06.2023</time>
                <h2>Заголовок h2</h2>
                <p>Текст новости. Auto Tuning Parts - название, говорящее за себя, - это компания, специализирующаяся
                  на товарах для автоспорта и тюнинга большинства автомобилей как японского, так и европейского рынка.
                </p>
                <p> Молодая, но конкурентноспособная компания ATP находится на рынке с 2015 года. За это время на
                  Дальнем Востоке открыто 3 магазина: Владивосток, Хабаровск и Благовещенск. За это время на Дальнем
                  Востоке открыто 3 магазина: Владивосток, Хабаровск и Благовещенск.</p>
                <p>ATP помогает автолюбителям обеспечивать тюнингом свое авто по доступным ценам, при этом сохраняя
                  свое качество. В нашем магазине представлены оригинальные товары всемирноизвестных компаний таких
                  как AEM, Bosch, Walbro, Aeromotive, Sparco, Torque Solution, NGK, Denso и другие.</p>
                <h3>Заголовок h3</h3>
                <p>Подарочный сертификат будет отправлен получателю после того как Вы оплатите стоимость Подарочного
                  сертификата. Подарочный сертификат будет отправлен получателю после того как Вы оплатите стоимость
                  Подарочного сертификата. Подарочный сертификат будет отправлен получателю после того как Вы оплатите
                  стоимость Подарочного сертификата. Подарочный сертификат будет отправлен получателю после того как
                  Вы оплатите стоимость</p>
                <div class="news-single__row">
                  <div class="news-single__col">
                    <img src="img/news-2.jpg" alt="">
                  </div>
                  <div class="news-single__col">
                    <img src="img/news-3.jpg" alt="">
                  </div>
                </div>
                <h3>Заголовок h3</h3>
                <p>Подарочный сертификат будет отправлен получателю после того как Вы оплатите стоимость Подарочного
                  сертификата.</p>
                <ul>
                  <li>Пункт 1</li>
                  <li>Пункт 2</li>
                  <li>Пункт 3</li>
                  <li>Пункт 4</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside class="page-menu">
        <ul>
          <li><a href="about.html">О магазине</a></li>
          <li><a href="certificates.html">Сертификаты</a></li>
          <li><a href="discounts.html">Акции и скидки</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="garanties.html">Гарантии и возврат</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
