<section class="order">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Корзина</a></li>
        <li><a href="#">Оформление заказа</a></li>
      </ul>
    </div>
    <div class="order__inner">
      <h1 class="order__title title">Оформление заказа</h1>
      <form class="form-primary" action="">
        <div class="order-content">
          <div class="order-body">
            <div class="order__box">
              <div class="order__img">
                <img src="img/order-complete-img.svg" width="64" alt="">
              </div>
              <div class="form-primary__title">Заказ сформирован</div>
              <div class="order__box-info">
                <p>Ваш заказ №49 от 11.07.2023 11:39 успешно создан</p>
                <p>Номер вашей оплаты: №49/1</p>
                <p>Вы можете следить за выполнением своего заказа в Персональном разделе сайта. Обратите внимание, что
                  для входа в этот раздел необходимо ввести логин и пароль пользователя.</p>
              </div>
            </div>
            <div class="order__box">
              <div class="form-primary__title">Оплата заказа</div>
              <div class="order__box-info">
                <p>RoboKassa</p>
                <p>Счёт №: №49 от 11.07.2023 11:39</p>
                <p>Сумма к оплате по счёту: 29 760 ₽</p>
              </div>
              <button class="order__box-btn btn">Оплатить</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
