<aside class="page-menu">
  <ul>
    <li class="is-active"><a href="profile-data.html">Личные данные</a></li>
    <li><a href="profile-company.html">Профиль компании</a></li>
    <li><a href="profile-delivery.html">Адрес доставки</a></li>
    <li><a href="profile-orders.html">История заказов</a></li>
  </ul>
</aside>
