<section class="products-slider {{ 'products-slider--offset' if pageSlug == 'home' }}">
  <div class="container">
    <div class="products-slider__inner slider">
      {{ macro.ProductsSliderHead(sliderTitle) }}
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/products-slider-1.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">Стойки койловеры Subaru Forester 2009-2013 SH5 SH9</a>
                <div class="product-card__footer">
                  <div class="product-card__price">28 500 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/products-slider-2.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">NEW
                  ADDCO — Алюминиевый стакан под спортивный руль — Mitsubishi/Subaru</a>
                <div class="product-card__footer">
                  <div class="product-card__price">420 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/products-slider-3.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock">В наличии во Владивостоке</div>
                <a class="product-card__title" href="#">Стойки койловеры Subaru Forester 2009-2013 SH5 SH9</a>
                <div class="product-card__footer">
                  <div class="product-card__price">28 500 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <a class="product-card__img" href="#">
                <img src="img/products-slider-4.jpg" width="260" height="200" alt="">
                <div class="product-card__banner">Новинка</div>
              </a>
              <div class="product-card__content">
                <div class="product-card__stock product-card__stock--no">Нет в наличии</div>
                <a class="product-card__title" href="#">Вентилятор радиатора, маслокулера - 10 дюймов 80W</a>
                <div class="product-card__footer">
                  <div class="product-card__price">1 400 ₽</div>
                  <div class="product-card__icons">
                    <button class="product-card__icon icon-wishlist"></button>
                    <button class="product-card__icon icon-cart"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
