<section class="product">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Патрубки, хомуты и шланги</a></li>
        <li><a href="#">Хомуты</a></li>
        <li><a href="#">V-band хомут с фланцами быстросъемный 4" (102мм) с проточкой, нержа</a></li>
      </ul>
    </div>
    <div class="product__inner">
      <div class="product__header">
        <a class="product__back" href="#">Назад</a>
        <p>Артикул: 18-32</p>
      </div>
      <div class="product__row">
        <div class="product__col">
          <div class="product__slider-wrapper">
            <div class="product__slider swiper">
              <div class="product__slider-banner product__slider-banner--red">Sale</div>
              <div class="swiper-wrapper">
                <div class="product__slide swiper-slide">
                  <a href="img/product.jpg" data-fslightbox>
                    <img src="img/product.jpg" width="500" height="460" alt="">
                  </a>
                </div>
                <div class="product__slide swiper-slide">
                  <a href="img/catalog-2.jpg" data-fslightbox>
                    <img src="img/catalog-2.jpg" width="500" height="460" alt="">
                  </a>
                </div>
                <div class="product__slide swiper-slide">
                  <a href="img/product.jpg" data-fslightbox>
                    <img src="img/product.jpg" width="500" height="460" alt="">
                  </a>
                </div>
                <div class="product__slide swiper-slide">
                  <a href="img/catalog-2.jpg" data-fslightbox>
                    <img src="img/catalog-2.jpg" width="500" height="460" alt="">
                  </a>
                </div>
                <div class="product__slide swiper-slide">
                  <a href="img/product.jpg" data-fslightbox>
                    <img src="img/product.jpg" width="500" height="460" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="product__thumbs swiper">
              <div class="swiper-wrapper">
                <div class="product__thumbs-slide swiper-slide">
                  <img src="img/catalog-1.jpg" width="92" height="80" alt="">
                </div>
                <div class="product__thumbs-slide swiper-slide">
                  <img src="img/catalog-2.jpg" width="92" height="80" alt="">
                </div>
                <div class="product__thumbs-slide swiper-slide">
                  <img src="img/catalog-1.jpg" width="92" height="80" alt="">
                </div>
                <div class="product__thumbs-slide swiper-slide">
                  <img src="img/catalog-2.jpg" width="92" height="80" alt="">
                </div>
                <div class="product__thumbs-slide swiper-slide">
                  <img src="img/product.jpg" width="92" height="80" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="product__box">
            <div class="product__subtitle">Доставка</div>
            <p>Доставка одной из транспортных компаний, имеющих представительство в Вашем городе. Срок доставки: от 3
              дней в зависимости от удаленности Вашего населенного пункта от склада. Стоимость доставки от 250 руб. в
              зависимости от веса и дальности доставки. </p>
          </div>
          <div class="product__box">
            <div class="product__subtitle">Оплата</div>
            <p>На сайте доступна онлайн оплата картами МИР, VISA, Master Card. Также можно оплатить товар при самовывозе
              в наших магазинах наличными либо картой.</p>
            <div class="product__payment">
              <ul>
                <li><img src="img/mir-logo.svg" height="22" alt=""></li>
                <li><img src="img/visa-blue-logo.svg" height="22" alt=""></li>
                <li><img src="img/mastercard-logo.svg" height="22" alt=""></li>
              </ul>
              <a href="#">Подробнее об условиях доставки и оплаты</a>
            </div>
          </div>
        </div>
        <div class="product__col">
          <h1 class="product__title">V-band хомут с фланцами быстросъемный 4" (102 мм) с проточкой, нержа</h1>
          <div class="product__status">
            <div class="product__stock product__stock--no">Нет в наличии</div>
          </div>
          <div class="product__prices product__prices--offset-sm">
            <div class="product__price-new">1 900 ₽</div>
            <div class="product__price-old">2 200 ₽</div>
          </div>
          <div class="product__controls">
            <button class="product__btn product__btn--w-auto btn" type="button"
              data-modal-open="modal-subscribe">Зарезервировать</button>
          </div>
          <button class="product__wishlist" type="button">Добавить в избранное</button>
          <div class="product__info">
            <div class="product__subtitle">Технические Характеристики</div>
            <div class="product__table">
              <table>
                <tr>
                  <th>Производитель:</th>
                  <td>ATP</td>
                </tr>
                <tr>
                  <th>Страна-производитель:</th>
                  <td>Тайвань</td>
                </tr>
                <tr>
                  <th>Диаметр:</th>
                  <td>102 мм</td>
                </tr>
                <tr>
                  <th>Материал:</th>
                  <td>нержавеющая сталь</td>
                </tr>
              </table>
            </div>
            <div class="product__box">
              <div class="product__subtitle">Подробное описание</div>
              <p>V-band хомут в сборе быстросъёмный 4" (102мм) с проточкой V-band с фланцами из нержавеющей стали для
                соединения элементов выхлопной системы</p>
              <p> Обеспечивают надёжность и герметичность разъёмных соединений, не требуя применения сварки и иных
                способов
                монтажа;</p>
              <p> Предотвращение вибраций и чрезмерных по амплитуде колебаний деталей системы выпуска отработавших газов
                во
                время движения автомобиля и на различных режимах работы силового агрегата.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
