{% set title = "ATP - Оформление заказа" %}
{% set overflowVisible = true %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}

{% include "../templates/sections/order.njk" %}

{% endblock content %}
