{% set title = "ATP - карточка товара" %}
{% set pageSlug = "product" %}
{% set pageOffset = true %}
{% set catalogMobile = true %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}

{% include "../templates/sections/product-no-stock.njk" %}

{% set sliderTitle = "Сопутствующие товары" %}
{% include "../templates/sections/products-slider.njk" %}

{% set sliderTitle = "Вы недавно смотрели" %}
{% include "../templates/sections/products-slider.njk" %}

{% include "../templates/sections/catalog-menu.njk" %}

{% endblock content %}
