{% set title = "ATP - Адреса доставки" %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}

<section class="profile">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Личный кабинет</a></li>
        <li><a href="#">Адреса доставки</a></li>
      </ul>
    </div>
    <div class="profile__inner">
      <div class="profile__content">
        <h1 class="profile__title title">История заказов</h1>
        {% include "../templates/sections/profile/orders.njk" %}
      </div>
      <aside class="page-menu">
        <ul>
          <li><a href="profile-data.html">Личные данные</a></li>
          <li><a href="profile-company.html">Профиль компании</a></li>
          <li><a href="profile-delivery.html">Адрес доставки</a></li>
          <li class="is-active"><a href="profile-orders.html">История заказов</a></li>
        </ul>
      </aside>

    </div>
  </div>
</section>

{% endblock content %}
