{% set title = "ATP - Регистрация" %}
{% set overflowVisible = true %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}

{% include "../templates/sections/registration.njk" %}

{% endblock content %}
