{% extends "../templates/layouts/layout.njk" %}
{% block content %}
<style>
  .text-section {
    padding: 50px 0;
  }

  .test-list {
    margin: 20px 0;
  }

  .test-list li {
    margin-bottom: 15px;
  }

  .test-list a {
    padding: 10px;
    font-size: 20px;
  }
</style>
<div class="text-section">
  <div class="container">
    <ul class="test-list">
      <li><a href="index.html">Главная</a></li>
      <li><a href="catalog-main.html">Каталог основной</a></li>
      <li><a href="catalog.html">Каталог категории</a></li>
      <li><a href="product.html">Карточка товара</a></li>
      <li><a href="product-no-stock.html">Карточка товара - нет в наличии</a></li>
      <hr>
      <li><a href="profile-data.html">Личный кабинет</a></li>
      <li><a href="profile-company.html">Профиль компании</a></li>
      <li><a href="profile-delivery.html">Адрес доставки</a></li>
      <li><a href="profile-orders.html">История заказов</a></li>
      <hr>
      <li><a href="cart.html">Корзина</a></li>
      <li><a href="order.html">Оформление заказа</a></li>
      <li><a href="order-complete.html">Оформление заказа - Заказ сформирован</a></li>
      <li><a href="404.html">404</a></li>
      <li><a href="registration.html">Регистрация</a></li>
      <hr>
      <li><a href="about.html">О магазине</a></li>
      <li><a href="discounts.html">Акции и скидки</a></li>
    </ul>
    <hr>
    <ul class="test-list">
      <li><button class="btn" data-modal-open="modal-buy">Модалка - Купить в 1 клик</button></li>
      <li><button class="btn" data-modal-open="modal-stock">Модалка - Наличие товара в магазинах</button></li>
      <li><button class="btn" data-modal-open="modal-subscribe">Модалка - Зарезервировать</button></li>
      <li><button class="btn" data-modal-open="modal-recovery">Модалка - Восстановление пароля</button></li>
      <li><button class="btn" data-modal-open="modal-login">Модалка - Вход в Личный кабинет</button></li>
      <li><button class="btn" data-modal-open="modal-certificate">Модалка - Оформление подарочного сертификата</button>
      </li>
    </ul>

    <hr>
    {% for i in range(0, 5) -%}
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero
      quisquam
      quidem, quam ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere? Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero quisquam quidem,
      quam
      ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere? Lorem, ipsum dolor sit
      amet
      consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero quisquam quidem, quam ipsum eum
      deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere?
    </p>
    {%- endfor %}

  </div>
</div>
{% endblock content %}
