.about {
  color: $white-color;
  background-color: $dark-color;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    background-position: right;
    background-size: 1080px;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1080px;
      background: linear-gradient(90deg, #151925 0%, rgba(21, 25, 37, 37%) 50%);
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 80px 0 105px;
    min-height: 540px;
    max-width: 760px;
  }

  &__title {
    margin-bottom: 20px;
    color: $white-color;
  }

  &__text {
    margin-bottom: 20px;

    p {
      @include mb(10px);
    }

    strong,
    b {
      font-weight: 700;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 330px));
    gap: 10px 20px;
  }
}

@media screen and (min-width: 1921px) {
  .about__wrapper {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 400px;
      background: linear-gradient(90deg, rgba(#151925, 0)  0%, #151925 100%);
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .about {
    &::before {
      width: 100%;
      background: $dark-color;
      opacity: 0.8;
    }

    &__wrapper {
      background-size: cover;
    }

    &__inner {
      padding: 70px 0;
    }
  }
}
