.catalog-menu {
  position: relative;
  z-index: 7;
  font-weight: 500;
  font-size: 14px;

  &__list {
    border-radius: 7px;
    background-color: #f5f5f5;
  }

  &__close {
    display: none;
  }
}

.menu {
  > li {
    border-bottom: 1px solid #e3e3e3;

    &:last-child {
      border-bottom: transparent;
    }
  }

  li.is-current {
    color: $primary-color;
  }

  a {
    display: block;
    transition: color $transition;

    @include hover {
      color: $primary-color;
    }
  }

  > .submenu {
    > ul > li {
      border-bottom: 1px solid #e3e3e3;

      > a {
        padding: 5px 10px;
      }
    }

    .submenu {
      ul a {
        padding: 5px 10px;
      }

      > a {
        position: relative;
        padding: 10px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 16px;
          width: 4px;
          height: 8px;
          background: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%238E8B8B'/%3E%3C/svg%3E%0A") center no-repeat;
          transition: background $transition;
        }

        @include hover {
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%23CE0005'/%3E%3C/svg%3E%0A");
          }
        }
      }

      > ul {
        padding-left: 8px;
      }

      &.is-active {
        border-bottom: none;

        > a {
          color: $primary-color;

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%23CE0005'/%3E%3C/svg%3E%0A");
            transform: rotate(-90deg);
          }
        }
      }
    }

    > ul {
      border-style: solid;
      border-width: 1px 1px 0;
      border-color: #e3e3e3;
      padding: 15px 10px 15px 15px;
      background-color: $white-color;
    }

    > a {
      position: relative;
      padding: 10px 20px;

      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 17px;
        width: 4px;
        height: 8px;
        background: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%238E8B8B'/%3E%3C/svg%3E%0A") center no-repeat;
        transition: background $transition;
      }

      @include hover {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%23CE0005'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &:first-child {
      a {
        border-radius: 7px 0 0;
      }
    }

    &:last-child {
      a {
        border-radius: 0 0 0 7px;
      }
    }

    &.is-active {
      > a {
        // color: $primary-color;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0V8L4 4Z' fill='%23CE0005'/%3E%3C/svg%3E%0A");
          transform: rotate(-90deg);
        }
      }
    }
  }

  .submenu {
    &__title {
      margin-bottom: 20px;
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.25;
      text-transform: uppercase;
    }

    &__content {
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 10;
      display: none;
      border-radius: 0 7px 7px 0;
      padding: 20px 40px 10px;
      width: 900px;
      background: $white-color;
      background-position: right bottom;
      background-size: 300px;
      background-repeat: no-repeat;

      li {
        border-bottom: 1px solid #e3e3e3;
        font-weight: 400;

        &:last-child {
          border-bottom: 1px solid transparent;
        }
      }

      ul {
        @include mr(42px);

        width: 100%;
        max-width: 258px;
      }

      a {
        display: block;
        padding: 7px 0;
        transition: color $primary-color;

        @include hover {
          color: $primary-color;
        }
      }
    }

    &__row {
      display: flex;
    }
  }

  .submenu:not(.is-active) {
    transition: $transition;

    @include hover {
      a {
        background-color: $white-color;
      }

      .submenu__content {
        display: block;
      }
    }
  }
}

.submenu {
  position: relative;

  > ul {
    display: none;
  }

  &.is-active {
    > ul {
      display: block;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .catalog-menu {
    margin-top: 36px;
  }

  // .catalog-menu {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   z-index: 40;
  //   display: none;
  //   overflow: auto;
  //   padding: 40px 16px 24px;
  //   width: 100%;
  //   max-width: 320px;
  //   box-shadow: 0 0 15px rgba(0, 0, 0, 15%);
  //   background-color: $bg-color;
  //   opacity: 0;
  //   transform: translateX(-100%);
  //   transition: transform $menu-transition, opacity $menu-transition;

  //   &__close {
  //     position: absolute;
  //     right: 15px;
  //     top: 15px;
  //     z-index: 2;
  //     display: block;
  //     border: none;
  //     width: 20px;
  //     height: 20px;
  //     background: url("../img/close-icon.svg") center no-repeat;
  //     cursor: pointer;
  //   }

  //   &.is-active {
  //     opacity: 1;
  //     transform: translateX(0);
  //   }
  // }
}
