.categories {
  padding: 70px 0 20px;

  &__inner {
    border-radius: 7px;
    padding: 30px;
    background-color: $bg-color;
  }

  &__head {
    @include grid(2, 10px);

    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__list {
    @include grid(3, 10px);
  }
}

.category {
  position: relative;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  background-color: $white-color;

  &::after {
    content: "";
    position: absolute;
    border-radius: 7px;
    background: linear-gradient(113.96deg, #ce0005 0%, #8d0106 100%);
    opacity: 0;
    transition: opacity $transition;
    inset: 0;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: block;
    padding: 20px;
    height: 240px;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__name {
    width: min-content;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    transition: color $transition;

    &--lg {
      width: auto;
      max-width: 396px;
    }
  }

  @include hover {
    color: $white-color;

    &::after {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .category {
    &__name {
      font-size: 20px;

      &--lg {
        max-width: 340px;
      }
    }
  }

  .categories {
    &__list {
      gap: 24px;
    }
  }
}

@media screen and (max-width: 900px) {
  .category {
    &__name {
      font-size: 18px;

      &--lg {
        max-width: 260px;
      }
    }
  }

  .categories {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .categories {
    background-color: $bg-color;

    &__inner {
      border-radius: 0;
      padding: 0;
    }

    &__head {
      display: block;
      margin-bottom: 16px;
    }

    &__info {
      margin-bottom: 32px;
    }

    &__list li {
      @include mb(16px);
    }

    &__list {
      display: block;
    }
  }
}
