.catalog {
  padding-bottom: 60px;

  &__inner {
    display: grid;
    grid-template-columns: 260px auto;
    gap: 40px;
  }

  &__categories {
    @include grid(2, 40px);
  }

  &__subcategories {
    margin-bottom: 30px;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }

    a {
      display: flex;
      align-items: center;
      padding: 13px 10px;
      width: 200px;
    }

    img {
      flex-shrink: 0;
      vertical-align: middle;
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }

    li {
      margin: 10px;
      border: 1px solid #e3e3e3;
      border-radius: 7px;
      background: $white-color;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 20px 30px 10px;
    background-color: $bg-color;
  }

  &__body {
    margin-bottom: 30px;
    border-radius: 7px;
    padding: 30px;
    background-color: $bg-color;
  }

  &__sort {
    display: flex;
    margin-bottom: 30px;
  }

  &__select {
    &:first-child {
      margin-right: auto;
    }
  }

  &__icons {
    display: flex;
    flex-shrink: 0;
    margin-left: 30px;
  }

  &__icon {
    @include flex-center;
    @include mr(10px);

    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    opacity: 0.3;
    cursor: pointer;

    &.is-active {
      opacity: 1;
    }
  }

  &__list {
    @include grid(3, 10px);
  }

  &__footer {
    color: $grey-color;

    p {
      @include mb(10px);
    }
  }
}

.catalog-filter {
  &__row {
    display: flex;
    align-items: flex-end;
    margin: -5px -10px;
  }

  &__collapse {
    display: none;
  }

  &__col {
    flex-grow: 1;
    margin: 5px 10px;
  }

  &__clear {
    padding-top: 10px;
    text-align: right;
  }

  &__reset {
    display: inline-block;
    border: none;
    padding-right: 22px;
    font-size: 14px;
    color: $grey-color;
    background: url("../img/trash-icon.svg") right top 38% no-repeat;
    cursor: pointer;

    @include hover {
      text-decoration: underline;
    }
  }

  &__btn {
    width: 100%;
  }
}

.catalog-overlay {
  top: 0;
}

@media screen and (max-width: $menu-breakpoint) {
  .catalog {
    &__menu {
      display: none;
    }

    &__inner {
      display: block;
    }

    &__categories {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .catalog {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .catalog {
    &__subcategories {
      ul {
        margin: -5px;
      }

      img {
        display: none;
      }

      a {
        display: block;
        padding: 5px 12px;
        width: auto;
        height: auto;
      }

      li {
        margin: 5px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
      }
    }

    &__body {
      padding: 0;
    }

    &__content {
      margin: 0 calc(var(--container-offset) * -1);
      padding: 15px;
      background-color: $bg-color;
    }
  }

  .catalog-filter {
    padding: 0;

    &__collapse {
      position: relative;
      display: block;
      padding-right: 20px;
      font-size: 14px;
      color: $grey-color;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 12px;
        height: 17px;
        background: url("../img/chevron-down-icon.svg") center no-repeat;
        transform: translateY(-50%);
      }
    }

    &__row {
      display: block;
      margin: 0 0 12px;
    }

    &__clear {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__col {
      display: none;
      margin: 0 0 12px;

      &:last-child {
        margin: 0;
      }

      &--show-mobile {
        display: block;
      }
    }

    &.is-active {
      .catalog-filter {
        &__collapse::after {
          transform: translateY(-50%) rotate(180deg);
        }

        &__col {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .catalog {
    &__categories {
      grid-template-columns: 1fr;
    }

    &__sort {
      flex-wrap: wrap;
    }

    &__icons {
      flex-grow: 1;
      justify-content: flex-end;
      margin-top: 12px;
      margin-left: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 360px) {
  .catalog-filter {
    &__collapse {
      margin-right: 0;
      margin-bottom: 12px;
    }

    &__reset {
      padding-left: 0;
    }

    &__clear {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }
}
