.page-menu {
  > ul {
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    background-color: $bg-color;
  }

  a {
    display: block;
    padding: 10px 10px 10px 20px;
  }

  li {
    border-bottom: 1px solid #e3e3e3;
    transition: color $transition;

    &:last-child {
      border-bottom: none;
    }

    &.is-active {
      color: $primary-color;
    }

    @include hover {
      color: $primary-color;
    }
  }
}
