.products-slider {
  padding-bottom: 20px;

  &__inner {
    border-radius: 7px;
    padding: 30px;
    background-color: $bg-color;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    margin-right: 15px;
  }

  .swiper-slide {
    height: auto;
  }

  &--offset {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .products-slider {
    overflow: hidden;
    background-color: $bg-color;

    &__inner {
      border-radius: 0;
      padding: 30px 0;
    }

    &__title {
      margin-right: 0;
    }

    .slider__nav {
      display: none;
    }

    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      width: 260px;
    }
  }
}
