<div class="profile__box">
  <form class="form-primary form-primary--bg" action="#">
    <div class="form-primary__title">Настройка личных данных</div>
    <label class="form-primary__item form-item">
      <span class="form-item__caption">ФИО <span>*</span></span>
      <input class="form-input" type="text" value="Константинопольский Константин Константинович">
    </label>
    <label class="form-primary__item form-item">
      <span class="form-item__caption">Email <span>*</span></span>
      <input class="form-input" type="text" value="Konstantin@gmail.com">
    </label>
    <label class="form-primary__item form-item">
      <span class="form-item__caption">Телефон <span>*</span></span>
      <input class="form-input form-input--sm" type="text" value="+7 (999) 888-77-66">
    </label>
    <button class="form-primary__btn btn">Сохранить</button>
  </form>
</div>
