<div class="profile__box">
  <form class="form-primary form-primary--bg" action="#">
    <div class="form-primary__title">Данные для доставки</div>
    <label class="form-primary__item form-item">
      <span class="form-item__caption">Область <span>*</span></span>
      <input class="form-input" type="text" placeholder="Укажите область">
    </label>
    <label class="form-primary__item form-item">
      <span class="form-item__caption">Город/населённый пункт <span>*</span></span>
      <input class="form-input" type="text" placeholder="Название города">
    </label>
    <div class="form-primary__row">
      <label class="form-primary__item form-item">
        <span class="form-item__caption">Улица</span>
        <input class="form-input" type="text" placeholder="Название улицы">
      </label>
      <label class="form-primary__item form-item">
        <span class="form-item__caption">№ дома</span>
        <input class="form-input" type="text" placeholder="№ дома">
      </label>
      <label class="form-primary__item form-item">
        <span class="form-item__caption">№ квартиры</span>
        <input class="form-input" type="text" placeholder="№ кв">
      </label>
    </div>
    <button class="form-primary__btn btn">Сохранить</button>
  </form>
</div>
