<div class="profile__box">
  <div class="profile__orders">
    <table>
      <thead>
        <th>Дата</th>
        <th>Номер</th>
        <th>Статус</th>
        <th>Оплата</th>
        <th>Сумма</th>
      </thead>
      <tbody>
        <tr>
          <td data-text="Дата">01.06.2023</td>
          <td data-text="Номер">11161456</td>
          <td data-text="Статус" class="color-green">Доставлен</td>
          <td data-text="Оплата" class="color-green">Оплачен</td>
          <td data-text="Сумма">18 040 ₽</td>
        </tr>
        <tr>
          <td data-text="Дата">02.06.2023</td>
          <td data-text="Номер">15616156</td>
          <td data-text="Статус" class="color-yellow">В пути</td>
          <td data-text="Оплата" class="color-green">Оплачен</td>
          <td data-text="Сумма">25 690 ₽</td>
        </tr>
        <tr>
          <td data-text="Дата">03.06.2023</td>
          <td data-text="Номер">12312323</td>
          <td data-text="Статус" class="color-grey">В обработке</td>
          <td data-text="Оплата" class="color-red">Не оплачен</td>
          <td data-text="Сумма">5 630 ₽</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
