<div class="profile__box">
  <form class="profile-form" action="#">
    <div class="profile__box-title">Настройка личных данных</div>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">ФИО <span>*</span></span>
      <input class="form-input" type="text" value="Константинопольский Константин Константинович">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">Email <span>*</span></span>
      <input class="form-input" type="text" value="Konstantin@gmail.com">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">Телефон <span>*</span></span>
      <input class="form-input form-input--w-auto" type="text" value="+7 (999) 888-77-66">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">Название компании</span>
      <input class="form-input" type="text" placeholder="ООО «Название компании»">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">ИНН</span>
      <input class="form-input" type="text" placeholder="Номер ИНН">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">Юридический адрес</span>
      <input class="form-input" type="text" placeholder="Город, индекс, улица, офис">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">КПП</span>
      <input class="form-input" type="text" placeholder="Номер КПП">
    </label>
    <label class="profile-form__item form-item">
      <span class="form-item__caption">ОГРН/ОГРНИП</span>
      <input class="form-input" type="text" placeholder="ОГРН/ОГРНИП">
    </label>
    <button class="profile-form__btn btn">Сохранить</button>
  </form>
</div>
